[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
requests = "*"
django-cors-headers = "*"
django-background-tasks = "*"
routeros-api = "*"

[dev-packages]

[requires]
python_version = "3.10.8"
